<!DOCTYPE html>
<html>
<head>
	<title>
		SiwCalcio - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	
	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Consulta</h1>

	<div>
		<a href="/tournaments">Tornei</a>
	</div>
	<div>
		<a href="/teams">Squadre</a>
	</div>
	<div>
		<a href="/players">Giocatori</a>
	</div>
	<div>
		<a href="/matches">Partite</a>
	</div>
	<div>
		<a href="/referees">Arbitri</a>
	</div>

	
	<h2>Gestisci (riservato agli amministratori)</h2>
	<div>	
		<a href="/admin/index">Inserimenti e cancellazioni</a>
	</div>			
</body>
</html>