<!DOCTYPE html>
<html>
<head>
    <title>Nuova Squadra</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<form th:action="@{/logout}" method="POST" style="display:inline;">
				<button type="submit">Logout</button>
			</form>
		</div>
    </header>
    <h1>Aggiungi Squadra</h1>
    <form th:action="@{/admin/teams}" method="POST" th:object="${team}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color:red">...</p>
        </div>
        <div>
            <label>Nome:</label> <input type="text" th:field="${team.name}" required />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <div>
            <label>Anno di Fondazione:</label> <input type="number" th:field="${team.yearOfFoundation}" />
            <span th:if="${#fields.hasErrors('yearOfFoundation')}" th:errors="*{yearOfFoundation}"></span>
        </div>
        <div>
            <label>Città:</label> <input type="text" th:field="${team.city}" />
            <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
        </div>
        <div><button type="submit">Salva</button></div>
    </form>
    <br>
    <a th:href="@{/admin/index}">Torna alla dashboard Admin</a>
</body>
</html>
