<!DOCTYPE html>
<html>
<head>
	<title>Partite</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header class="navbar">
        <div class="navbar-container">
            <div class="nav-brand">
                <a href="/"><img src="/images/logo_calcio.png" alt="Logo" /></a>
            </div>
            <div class="nav-actions">
                <div th:if="${userDetails}" style="display: flex; align-items: center; gap: 15px;">
                    <span th:text="${userDetails.username}"></span>
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" class="btn-logout">Logout</button>
                    </form>
                </div>
                <div th:unless="${userDetails}">
                    <a href="/login">Accedi</a> | <a href="/register">Registrati</a>
                </div>
            </div>
        </div>
    </header>
	<h1>Partite</h1>
	<div th:if="${matches==null || matches.isEmpty()}">Non ci sono partite nel sistema</div>
	<ul>
		<li th:each="match : ${matches}">
			<a th:href="@{'/matches' + '/' + ${match.id}}" th:text="${match.teamHome.name} + ' vs ' + ${match.teamAway.name}">Roma vs Lazio</a>
		</li>
	</ul>
</body>
</html>
