<!DOCTYPE html>
<html>

<head>
	<title>Dettagli Torneo</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<div><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	<h1>Dettagli Torneo</h1>
	<div th:if="${tournament}">

		<span th:text="${tournament.name}">Nome Torneo</span>

		<span th:text="'(' + ${tournament.year} + ')'">2025</span>

		<p th:text="${tournament.description}">descrizione</p>

		<div>
			<strong>Squadre Iscritte:</strong>
			<ul th:if="${not #lists.isEmpty(tournament.teams)}">
				<li th:each="team : ${tournament.teams}">
					<a th:href="@{'/teams' + '/' + ${team.id}}" th:text="${team.name}">Nome squadra</a>
				</li>
			</ul>
			<span th:if="${#lists.isEmpty(tournament.teams)}">Nessuna squadra iscritta.</span>
		</div>

		<div>
			<strong>Partite in Programma:</strong>
			<ul th:if="${not #lists.isEmpty(tournament.matches)}">
				<li th:each="match : ${tournament.matches}">
					<a th:href="@{'/matches' + '/' + ${match.id}}" th:text="${match.teamHome.name} + ' vs ' + ${match.teamAway.name}">Roma vs Lazio</a>
				</li>
			</ul>
			<span th:if="${#lists.isEmpty(tournament.matches)}">Nessuna partita programmata.</span>
		</div>

	</div>
	
	<div th:unless="${tournament}">Il torneo richiesto non esiste.</div>
</body>

</html>