<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Registrazione
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header class="navbar">
        <div class="navbar-container">
            <div class="nav-brand">
                <a href="/"><img src="/images/logo_calcio.png" alt="Logo" /></a>
            </div>
            <div class="nav-actions">
                <div th:unless="${userDetails}">
                    <a href="/login">Accedi</a>
                </div>
            </div>
        </div>
    </header>

	<form th:action="@{/register}" method="POST" class="auth-card">
		<h1>Registrati</h1>
		
		<div>
			<label>Nome</label>
			<input type="text" th:field="${user.name}" required placeholder="Il tuo nome" />
			<span th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}"></span>
		</div>
		<div>
			<label>Cognome</label>
			<input type="text" th:field="${user.surname}" required placeholder="Il tuo cognome" />
			<span th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}"></span>
		</div>
		<div>
			<label>Username</label>
			<input type="text" th:field="${credentials.username}" required placeholder="Scegli uno username" />
			<span th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}"></span>
		</div>
		<div>
			<label>Password</label>
			<input type="password" th:field="${credentials.password}" required placeholder="Scegli una password forte" />
			<span th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}"></span>
		</div>
		
		<div style="text-align: center; margin-top: 15px;">
			<button type="submit" style="width: 100%;">Crea Account ✨</button>
		</div>

		<div style="text-align: center; margin-top: 25px; font-size: 14px;">
			Hai già un account? <a th:href="@{/login}" style="font-weight: bold;">Accedi qui!</a>
		</div>
	</form>
</body>

</html>
