<!DOCTYPE html>
<html>
<head>
    <title>Nuova Partita</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
    <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<form th:action="@{/logout}" method="POST" style="display:inline;">
				<button type="submit">Logout</button>
			</form>
		</div>
    </header>
    <h1>Aggiungi Partita</h1>
    <form th:action="@{/admin/matches}" method="POST" th:object="${match}">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}" style="color:red">...</p>
        </div>
        <div>
            <label>Data:</label> <input type="date" th:field="${match.date}" />
            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
        </div>
        <div>
            <label>Ora:</label> <input type="time" th:field="${match.time}" />
            <span th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></span>
        </div>
        <div><button type="submit">Salva</button></div>
    </form>
    <br>
    <a th:href="@{/admin/index}">Torna alla dashboard Admin</a>
</body>
</html>
