<!DOCTYPE html>
<html>
<head>
	<title>
		SiwCalcio - Amministrazione
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
	<div><img src="/images/logo-siw.png" width="50%" /></div>
	<h1>Gestione</h1>
	<h2>(riservato agli amministratori)</h2>
	<div>	
		<ul>
			<li><a href="/admin/teams/new">Aggiungi Squadra</a></li>
			<li><a href="/admin/players/new">Aggiungi Giocatore</a></li>
			<li><a href="/admin/tournaments/new">Aggiungi Torneo</a></li>
			<li><a href="/admin/matches/new">Aggiungi Partita</a></li>
			<li><a href="/admin/referees/new">Aggiungi Arbitro</a></li>
		</ul>
	</div>			
    <div>	
		<form th:action="@{/logout}" method="POST" style="display:inline;">
			<button type="submit">Logout</button>
		</form>
	</div>			
</body>
</html>