<!DOCTYPE html>
<html>

<head>
	<title>Elenco Arbitri</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
    <header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<form th:action="@{/logout}" method="POST" style="display:inline;">
				<button type="submit">Logout</button>
			</form>
		</div>
    </header>
	<div><a href="/"><img src="/images/logo_calcio.png" width="50%" /></a></div>
	<h1>Elenco Arbitri</h1>
	
	<div th:if="${not #lists.isEmpty(referees)}">
		<ul>
			<li th:each="referee : ${referees}">
				<a th:href="@{'/referees' + '/' + ${referee.id}}" th:text="${referee.name} + ' ' + ${referee.surname} + ' (' + ${referee.refereeCode} + ')'">Nome Arbitro</a>
			</li>
		</ul>
	</div>
	
	<div th:if="${#lists.isEmpty(referees)}">
		Nessun arbitro registrato nel sistema.
	</div>
	
</body>

</html>
